

/* Fonts --------------- */
@font-face  { 
    font-family: 'brushKing';
    src: url("../fonts/brushKing.otf");
}

@font-face  { 
    font-family: 'moonGlade';
    src: url("../fonts/moonglade.ttf");
}

@font-face  { 
    font-family: 'empirez';
    src: url("../fonts/empirez.otf");
    src: url("../fonts/empirez.ttf");
}

/* Eliminates white border around landing page image! -----*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/* Initializing body font size and font type -------------*/
body {
    font-size: small;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(44, 42, 42);
}


/* Span Class styling ---------------------------*/
span {
    font-family: "brushKing", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #df8600;
    letter-spacing: 0.18em;
    
}

/* Zoom class ---------- when hovering, zooms in*/
.zoom {
    transition: transform 0.1s;
}

.zoom:hover {
    transform: scale(1.05);
}

/* Landing Page ------------------------*/
.landingPage h1 {
    font-size: 200%;
    padding-top: 75%;
    letter-spacing: 0.4em;
    border-bottom: thin solid black;
}

.landingPage h2 {
    font-size: 140%;
    padding-top: 0.5%;
    letter-spacing: 0.1em;
}

.landingPage h1, h2 {

    text-align: center;
    font-family: "moonGlade", Arial, sans-serif;
}

.landingPage {
	background: linear-gradient(#f39e1e, transparent 90%),
                linear-gradient(0deg, #fff, transparent 90%),
                url('../images/lionFront1080.jpg') no-repeat 65% 0% fixed;
                
	background-size: cover;
    height:	800px;
    margin-right: 0px;

}

/* Navigation Bar----------------------*/
.nav  {
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
	overflow: hidden;
	position: fixed;
	text-align: left;
    width: 100%;
	
}

.nav li  {
	display: inline;

}

.nav li a  {
    color: white;
    font-size: 70%;
    font-family: "moonGlade", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
    padding: 16px 16px;
}

.nav li a:link  {
    color: white;
	text-decoration: none;
}
.nav li a:visited  {
	color: white;
}
.nav li a:hover  {
    background-color: #ca7d08;
    border-radius: 100px;
    font-style: italic;
}
.nav li a:active  {
    background-color: #ca7d08;
    border-radius: 100px;
    font-style: italic;
}



/* Main Content Starts Here----------------*/
.mainContent {
    color: white;
    padding-top: 100px;
    padding-bottom: 300px;

}

.mainContent img {
    width: 350px;
    height: 200px;
    border-radius: 20px;

}

.mainContent video {
    width: 350px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    border-radius: 30px;
    object-fit: inherit;
    
}

.mainContent p {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0.5% 1% 3% 1%;
    line-height: 140%;
}


/* Social behaviour section-----------------*/
.socialBehaviour {
    text-align: center;
}

.socialBehaviour img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}



/* Hunting section-----------------*/
.huntingInfo {
    text-align: center;
    padding-top: 5%;
    border-top: thin solid black;
}
.huntingInfo img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

/*Communication section -------------*/
.communication {

    text-align: center;
    padding-top: 5%;
    margin-bottom: -50%;
    border-top: thin solid black;

}


/*Secondary content Starts here-------------*/
.secondaryContent {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-top: thin black solid;

}

form {
    display: table;
    background: #cea140 url(https://www.telegraph.co.uk/content/dam/Travel/2019/July/lion%20cover.jpg?imwidth=1400) no-repeat center;
    padding: 10px;
    margin: 5% auto 5% -9%;
    border-radius: 25px;
}
  
  form textarea{
    width: 300px;
    height: 60px;
}
  
  div.tableRow {
    display: table-row;
}
  
  div.tableRow p {
    display: table-cell;
    vertical-align: top;
    padding: 3px;
    opacity: 0.9;
}
  
  div.tableRow p:first-child {
    opacity: 1;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 110%;
    font-weight: bold;
}
  
  h1.heading {
    font-size: 170%;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}



/* Footer section-------------------------*/

footer {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 10px;
	position: relative;
	text-align: center;
    width: 100%;
}

footer a{
    color: #b66d00;
    text-decoration: none;
}

footer a:hover{
    color: #ff9900;
    text-decoration: underline;
}