

/* Fonts --------------- */
@font-face  { 
    font-family: 'brushKing';
    src: url("/fonts/brushKing.otf");
}

@font-face  { 
    font-family: 'moonGlade';
    src: url("/fonts/moonglade.ttf");
}

@font-face  { 
    font-family: 'empirez';
    src: url("/fonts/empirez.otf");
    src: url("/fonts/empirez.ttf");
}

/* Eliminates white border around landing page image! -----*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/* Initializing body font size and font type -------------*/
body {
    font-size: small;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(44, 42, 42);
}


/* Span Class styling ---------------------------*/
span {
    font-family: "brushKing", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #df8600;
    letter-spacing: 0.18em;
    
}

/* Zoom class ---------- when hovering, zooms in*/
.zoom {
    transition: transform 0.16s;
}

.zoom:hover {
    transform: scale(1.05);
}

/* Landing Page ------------------------*/
.landingPage h1 {
    font-size: 350%;
    padding-top: 20.5%;
    letter-spacing: 0.45em;
    border-bottom: thin solid black;
    text-shadow: 1px 2px;
}

.landingPage h2 {
    font-size: 200%;
    padding-top: 0.65%;
    letter-spacing: 0.13em;
    text-shadow: 1px 1px;
}

.landingPage h1, h2 {

    text-align: center;
    font-family: "moonGlade", Arial, sans-serif;
}

.landingPage {
	background: linear-gradient(#f39e1e, transparent 90%),
                linear-gradient(0deg, #fff, transparent 90%),
				url('../images/lionFront1080.jpg') no-repeat center fixed;
	background-size: cover;
    height:	980px;
    padding: 20px;
    margin: auto;

}

/* Navigation Bar----------------------*/
.nav  {
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
	overflow: hidden;
	position: fixed;
	text-align: left;
    width: 100%;
	
}

.nav li  {
	display: inline;

}

.nav li a  {
    color: white;
    font-size: 130%;
    font-family: "moonGlade", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
    padding: 16px 16px;
}

.nav li a:link  {
    color: white;
	text-decoration: none;
}
.nav li a:visited  {
	color: white;
}
.nav li a:hover  {
    background-color: #ca7d08;
    border-radius: 30px;
}



/* Main Content Starts Here----------------*/
.mainContent {
    color: white;
    padding-top: 100px;
    padding-bottom: 300px;

}

.mainContent img {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
    clear: both;
}

.mainContent video {
    width: 450px;
    height: 300px;
    margin: 0px 20px 20px 20px;
    border-radius: 30px;
    object-fit: inherit;
    float: right;
}

.mainContent p {
    padding: 1.5% 17% 2% 12%;
    line-height: 140%;
}


/* Social behaviour section-----------------*/
.socialBehaviour {

    text-align: center;
    margin: 0px 10% 0px 10%;

}



/* Hunting section-----------------*/
.huntingInfo {

    text-align: center;
    margin: 100px 10% 0px 10%;
    padding-top: 5%;
    border-top: thin solid black;

}

/*Communication section -------------*/
.communication {

    text-align: center;
    margin: 100px 10% 0px 10%;
    padding-top: 5%;
    border-top: thin solid black;
    

}

/*Secondary content Starts here-------------*/
.secondaryContent {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-top: thin black solid;

}

form {
    display: table;
    background: #cea140 url(https://www.telegraph.co.uk/content/dam/Travel/2019/July/lion%20cover.jpg?imwidth=1400) no-repeat center;
    padding: 10px;
    margin: 5% auto 5% auto;
    border-radius: 25px;
}
  
  form textarea{
    width: 400px;
    height: 120px;
}
  
  div.tableRow {
    display: table-row;
}
  
  div.tableRow p {
    display: table-cell;
    vertical-align: top;
    padding: 3px;
    opacity: 0.9;
}
  
  div.tableRow p:first-child {
    opacity: 1;
    color: white;
    text-align: right;
    font-size: 120%;
}
  
  h1.heading {
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

/* Footer section-------------------------*/

footer {
    background-color: rgba(0, 0, 0, 1);
	color: #fff;
    bottom: 0;
    padding: 10px;
	position: relative;
	text-align: center;
    width: 100%;
}

footer a{
    color: #b66d00;
    text-decoration: none;
}

footer a:hover{
    color: #ff9900;
    text-decoration: underline;
}